@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: #1B262C;
	color: #3282BA;
}

.loading {
	appearance: none;
	border: none;
	width: 5em;
	height: 5em;
	background: none;
}

.loading::-moz-progress-bar,
.loading::-webkit-progress-value {
	animation: spin 1s linear infinite;
	background: transparent;
	background-size: cover;
	background-image: url("loading-spinner.svg");
}

 @keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.page-intro {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 0;
}

.page-intro h1 {
	font-size: 3rem;
	font-weight: bolder;
	margin: 0;
}

.page-intro h1::after {
	content: "|";
	content: "|" / "";
	font-weight: bold;
	display: inline-block;
	padding: 1em;
}

.page-intro p {
	font-size: 1.5rem;
	margin: 0;
}

@media (width < 400px) {
	.page-intro h1::after {
		transform: rotate(90deg);
		padding: 0;
	}
	.page-intro {
		
	}
}

.dfn-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.dfn-area {
	width: 50svw;
	background: #3282BA;
	color: #1B262C;
	border: 4px #EE7214 solid;
	border-radius: 15px;
	padding: 20px;
}

.dfn-area:target {
	border-color: blue;
}

.updoot-button {
	border: none;
	background: red;
	padding: 0;
	min-height: 44px;
	min-width: 44px;
}

.dfn-area h2 {
	margin: 0;
	font-size: 2.5rem;
	display: inline;
}

.dfn-area dfn {
	font-style: normal;
}

.dfn-area header {
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 2px black solid;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.dfn-uploader {
	margin: 0;
}

.dfn-uploader-word {
	font-weight: bold;
	font-style: italic;
}

.dfn-perma-link {
	color: #0e00b9;
	font-weight: bold;
}

.dfn-perma-link:visited {
	color: #6e00b9;
}

.dfn-perma-link:active {
	color: #EE7214;
}

.dfn-description {
	margin: 0;
	font-size: 1.5rem;
	text-align: center;
}

.tooltip {
	background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 10px 5px;
	display: inline;
	border-radius: 25px;
	font-size: 0.8em;
	position: absolute;
	z-index: 1;
}

.input {
	background: #183CFF;
	border: 2px #001DBB solid;
}