@font-face {
	font-family: Roboto;
	src: url(/roboto.ttf);
}

html {
	scrollbar-gutter: stable;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: #1b262c;
	color: #79c6ff;
}

#root {
	max-width: 35svw;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 650px) {
	#root {
		max-width: unset;
		margin: 10px;
	}
}

.loading {
	appearance: none;
	border: none;
	width: 5rem;
	height: 5rem;
	background: none;
	display: block;
	margin: auto;
}

.loading::-moz-progress-bar {
	background: transparent;
	background-size: cover;
	background-image: url("/loading-spinner.svg");
}

.loading::-webkit-progress-bar {
	background: transparent;
	background-size: cover;
	background-image: url("/loading-spinner.svg");
}

.button {
	min-width: 44px;
	min-height: 44px;
	cursor: pointer;
	padding: 10px 20px;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	border: 2px solid #606060;
	background: #808080;
	color: white;
}

.button:hover,
.button:focus {
	background: #606060;
}

summary {
	cursor: pointer;
}

.loading-text {
	appearance: none;
	border: none;
	width: 1ch;
	height: 1em;
	opacity: 0.5;
}

.loading-text::-moz-progress-bar,
.loading-text::-webkit-progress-value {
	background: gray;
}

.page-intro {
	text-align: center;
	margin: 2.5rem 0;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin: 0;
}

.page-intro p {
	font-size: 1.5rem;
	margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

search {
	margin: 20px;
}

a {
	color: #00f3ff;
	text-decoration-skip-ink: none;
}

a:visited {
	color: #fff49b;
}

a:active {
	color: #EE7214;
}

.dictionary-entry {
	width: 100%;
	background: #ecf0f1;
	border-radius: 19px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.dictionary-entry:target {
	border: 4px solid #ff9900;
}

.header-section {
	color: white;
	text-align: center;
	background: #3498db;
	position: relative;
}

.word-id {
	position: absolute;
	top: 1em;
	left: 1em;
}

.word {
	padding: 20px;
	font-size: 2.7rem;
	font-weight: bold;
	margin: 0;
	color: #1d2a57;
	font-family: Arial;
	text-wrap: balance;
	overflow-wrap: break-word;
}

.word dfn {
	font-style: normal;
}

.definition-heading {
	margin-bottom: 0;
}

.footer-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #1e5780;
	color: white;
	padding: 18px;
	text-align: center;
}

.footer-section p {
	margin: 0;
	text-align: center;
}

.interactive-metadata {
	display: flex;
	justify-content: left;
	gap: 0.25rem;
	background: #1e5780;
	color: white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.updoot-button,
.downdoot-button,
.permalink,
.speak-button {
	background: none;
	border: none;
	min-width: 44px;
	min-height: 44px;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

.updoot-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: #263461;
	border-radius: 0.75rem;
	border: 2px solid #3498db;
}

.total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-left: 2px solid #3498db;
	border-right: 2px solid #3498db;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.metadata-wrapper {
	background: #1e5780;
	color: white;
}

.metadata {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.uploader-word {
	font-weight: bold;
	display: block;
}

.footer-section .new-line {
	display: block;
}

.definition {
	margin-left: 10px;
	margin-right: 10px;
}

.definition-section {
	margin: 20px;
	padding: 5px;
	color: #004677;
	border-top: solid thin #ff9900 4px;
	border-bottom: solid thin #ff9900 4px;
	overflow-wrap: break-word;
}

.github-logo {
	width: 1.25em;
	height: 1.25em;
	margin-right: 0.5ch;
	vertical-align: text-top;
}

.tooltip {
	position: absolute;
	background: black;
	color: white;
	padding: 6px 9px;
	display: inline;
	border-radius: 5px;
	text-align: center;
	font-size: 0.8em;
	z-index: 2;
	opacity: 0.9;
	transition: opacity 1s ease-in-out;
}

.tooltip::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 -9px;
	position: absolute;
	pointer-events: none;
}

.required-text {
	color: #ff1b04;
}

.add-new-word summary {
	list-style: none;
}

.add-new-word summary:hover {
	user-select: none;
}

.add-new-word details[open] .chevron-icon {
	transform: rotate(180deg);
}

.add-new-word h2 {
	margin: 0;
	margin-left: 0.25em;
	font-weight: 700;
	display: inline;
}

.add-new-word {
	box-shadow: 0 4px 8px #000;
	flex-direction: column;
	border-radius: 0.5rem;
	color: #E0FAFF;
	background: #050d79;
	margin: 1rem;
	padding: 1rem;
}

.add-new-word details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.add-new-word .field {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.add-new-word .field-checkbox {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}

.add-new-word output {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.add-new-word output p:first-child {
	margin: 0;
}

.input {
	height: 2.5rem;
	width: 65%;
	border-radius: 0.375rem;
	border-style: none;
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: inherit;
	font-size: inherit;
	border: 3px solid #3498db;
}

textarea.input {
	resize: vertical;
}

.error-message {
	padding: 1em;
	color: white;
	background: #ff1b04;
}

.input[type=date],
.input[type=date]::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

.submit-button {
	background: #007bff;
	color: white;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	margin-top: 1em;
	width: 45%;
	border-radius: 0.5rem;
}

.submit-button:hover,
.submit-button:focus {
	background: #0056b3;
}

.amount-words-shown {
	text-align: center;
}

.footer {
	background: #2d566c;
	color: #e0faff;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px black;
	margin: 1rem;
}

.footer p:first-child {
	margin-top: 0;
}

.footer p:last-child {
	margin-bottom: 0;
}

.footer address {
	font-style: normal;
}

output {
	margin-top: 20px;
}

.downdoot-button .arrow-icon {
	transform: rotate(180deg);
}

.downdoot-button[aria-pressed=true] .arrow-icon {
    fill: #9393ff;
    stroke: none;
}

.updoot-button[aria-pressed=true] .arrow-icon {
    fill: #ff4500;
    stroke: none;
}

[aria-pressed=false] .arrow-icon {
    fill: none;
}

[aria-pressed=true] .audio-icon {
	fill: #2e2c2c;
}

.chevron-icon {
	vertical-align: middle;
}

.filter-area {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.filter-area label {
	display: inline-block;
	padding: 0.25rem 0;
}

.combobox-button {
	min-width: 44px;
	min-height: 44px;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: inherit;
	font-family: inherit;
	color: white;
	background: #1e5780;
	border: 2px solid #606060;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.combobox-button:focus-visible,
.combobox-button:has(+ :popover-open) {
	outline: auto;
}

.combobox-button:has(+ :popover-open) .chevron-icon {
	transform: rotate(180deg);
}

.listbox {
	list-style: none;
	margin: 0;
	padding: 0.5rem;
	box-sizing: border-box;
	border-radius: 0.5rem;
	background: #2d566c;
	color: white;
	position: absolute;
	inset: unset;
}

.listbox-option {
	display: contents;
}

.listbox-option a:hover {
	background: rgba(0, 122, 204, 0.25);
}

.listbox-option a:focus-visible {
	background: rgb(0, 122, 204);
}

.listbox-option a {
	text-decoration: none;
	display: block;
	padding: 0.5rem;
	padding-left: 1.5rem;
	outline: none;
	position: relative;
	color: currentColor;
}

.listbox-option a[aria-selected=true]::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0.25rem;
	width: 1rem;
	height: calc(100% + 0.12rem);
	background-image: url(/checkmark.svg);
	background-size: 100% 100%;
}